<FilesMatch \.php>
    # Apache 2.4.10+ can proxy to unix socket
    SetHandler "proxy:unix:/var/run/php/php7.4-fpm.sock|fcgi://localhost/"
</FilesMatch>

RewriteEngine On
RewriteRule ^productes([0-9]+)$ fitxa.php?id=$1 [QSA]
RewriteRule ^carreto$ carreta.php [NC]
RewriteRule ^pagar$ carretaEliminarTodo.php [NC]
